@import url('https://fonts.googleapis.com/css?family=Catamaran');


*
{
	margin: 0 auto;
	padding: 0px;
	box-sizing: border-box;
}

body{
	background-color: white;
	height: 100%;
	width: 100%;
	font-family: "Catamaran";
}

header{
	width: 100%;
	height: 100vh;
}

nav{
	/*position: fixed;*/
	width: 100%
	height:50px;
	font-size: 14pt;
	line-height: 50px;
}

h1{
	font-size: 1.1em;
}

.logo{
	color: #4dbeb0;
	float: left;
}

nav ul{
float: right;
}

nav ul,li{
	display: inline-block;
	list-style-type: none;
	padding: 4px 14px;
}

li a {
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

li a:hover{
	color: #878787;
}

a:link
{
	text-decoration: none;color:white;
}

#banner{
	height: 100vh;
	width: 100%;
	/*display: flex;*/
}
#banner .bg-image{
	height: 100vh;
	width: 100%;
	background-image: url("../img/banner.jpg");
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align:left;
	padding-top:2px;
	/*display: flex;*/
}



h2{
	font-size: 8em;
	font-weight: bold;
	color: #4dbeb0;
	text-align: center;
	padding: 0;
	margin: 0;
}

h3{
	font-size: 3em;
	font-weight: bolder;
	color: #3c4142;
}

h6{
	font-size: 1em;
	margin-top: 25px;
}

.content{
	width: 90%;
	height: 90%;
	margin: 120px auto;
	text-align: center;
}

.content p{
	color: white;
	font-size: 2em;
}

.btn{
	border-radius: 2px;
	padding: 10px 20px;
	border: solid #b97a43 2px;
	text-align: center;
	color: white;
}
.btn a:link{
	text-decoration: none;
	color:white;
}
.content_wrap{
	height:auto;
	width: 90%;
	margin: 0 auto;
}

#about{
  height: 100vh;
  width: 100%;
  text-align: center;
  background-color: #fff;
  margin: 60px 0 0 0;
 }

h4{
	font-size: 2em;
	color: #49c5b6;
	margin: 0;
	padding: 0;
	text-align: center;
}

#about p{
	color: #333;
	text-align: left;
	margin-top: 5px;
}

#about a{
	text-align: left;

}

.know{
	color: #b97a43;
}

.bx_wrap{
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

.bx_wrap ul{
	float: left;
	margin: 0 auto;
	padding: 0;
}


.box1{
	width: 374px;
	height:390px;
	background-image: url("../img/about_03.jpg");
	margin: 0;
	padding: 0;
}
.box_cont{
	width: 374px;
	height:390px;
	margin: 0;
	padding: 0;
}

.box2{
	width: 374px;
	height:390px;
	background-image: url("../img/about_03.jpg");
	margin: 0;
	padding: 0;
}
.box3{
	width: 374px;
	height:390px;
	background-image: url("../img/about_03.jpg");
	margin: 0;
	padding: 0;
}

#services{
  height: 100vh;
  width: 100%;
  text-align: center;
  background-color: #fff;
  margin-bottom: 50px;
 }
#services p{
	text-align: justify-all;
}

#services a{
	color: #49c5b6;
	cursor: pointer;
}

.box_cont_serv{
	width: 374px;
	margin: 0;
	padding: 0;
}

.serv_icons{
	font-size: 3em;
	color: #3c4142;
	font-weight: lighter;
}

 #works{
   height: 100vh;
   width: 100%;
   text-align: center;
   background-color: #fff;
  }

.box_cont_works{
	width: 1175px;
	margin: 0;
	padding: 0;
}

.cont_works01{
	width: 235px;
	height: 235px;
	background-color: #333;
}
.cont_works02{
	width: 235px;
	height: 235px;
	background-color: #333;
}
.cont_works03{
	width: 235px;
	height: 235px;
	background-color: #333;
}
.cont_works04{
	width: 235px;
	height: 235px;
	background-color: #333;
}
.cont_works05{
	width: 235px;
	height: 235px;
	background-color: #333;
}


 #ourteam{
   height: 100vh;
   width: 100%;
   text-align: center;
   background-color: #fff;
 }

 #ourteam p{
 	font-size: 1.4em;
 	font-weight: bold;
 	color: #3c4142;
 }

#team_bxx{
	margin-top: 30px;
	padding-top: 10px;
}

#team_bxx ul{
	margin: 0px;
	padding: 0px;
}

#team_bxx ul li{
	list-style-type: none;
	display: inline-block;
	float: left;
}

.bxx{
	width: 272px;
	height:300px;
	background-color: #333;
	text-align: justify;
	color: #ccc;
	cursor: pointer;
	position: relative;
	
	perspective: 100px;
	transition: all 0.5s ease;
}

.bxx p{
	margin-top: 10px;
}

.bxx:hover{
	
	opacity: 0.15;
    filter: alpha(opacity=20);
	transform: scale(1.05);
	z-index: 1;

}

.bxx1{
	width: 272px;
	height:300px; 
	align-items: center;
	justify-content: center;
	background-image: url("../img/team_01.jpg");
	background-size: cover;
	background-repeat: no-repeat;

}

.bxx2{
	width: 272px;
	height:300px; 
	align-items: center;
	justify-content: center;
	background-image: url("../img/team_02.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.bxx3{
	width: 272px;
	height:300px; 
	align-items: center;
	justify-content: center;
	background-image: url("../img/team_03.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.bxx4{
	width: 272px;
	height:300px; 
	align-items: center;
	justify-content: center;
	background-image: url("../img/team_04.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}


#contact{
   height: 100vh;
   width: 100%;
   text-align: center;
   background-color: #fff;
 }

footer{
	width: 100%;
	height: 50px;
	background-color: #434343;
}

footer p{
	text-align: left;
	color: grey;
	line-height: 50px;
}